<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (pixel){ %> 
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/pixel.css">

    <%} else { %>
    
    <link rel="stylesheet" href="/css/style.css">
    <%} %>


    <title>Document</title>
</head>

<body>
    <header>
        <div class='partials'>header partial
            <form action="" method="post">
                <input type="text" placeholder="id" name="id" id="">
                <input type="password" placeholder="password" name="password" id="">
                <button>submit</button>
            </form>
        </div> 
    </header>