<%- include("partials/header") %>
    <h1>land page</h1>
    <% for (let coordinate of coordinates){ %>
        <div ><a href="/coordinate/<%=coordinate.name%>"><%=coordinate.name%></a></div>
    <% } %>
    <div>------------------------</div>
    <div ><a href="/all">All</a></div>
<%- include("partials/footer") %>
