<%- include("partials/header") %>
    <h1>land page</h1>
    <div ><a href="/patrick">Patrick</a></div>
    <div ><a href="/benedicte">Benedicte</a></div>
    <div ><a href="/camille">Camille</a></div>
    <div ><a href="/bastien">Bastien</a></div>
<%- include("partials/footer") %>
