<%- include("partials/header") %>
<main>    
    <form class="configuration" id="configuration"></form>
    <div id="activeColor">
        <div id="activeColorFontBlack">active Color</div>
        <div id="activeColorFontWhite">active Color</div>
    </div>
    <div id="line">
        <div id="rangesRGB"></div>
        <div id="invader"></div>
        <!-- <div id="styles"></div> -->
        <div id="container__buttonRadio">
            <div class="buttonRadio" id="buttonRadio">
            </div>
            <!-- </div> -->
        </div>
        <script src="/js/pixel.js"></script>
    </main>
</body>

</html>
<%- include("partials/footer") %>